<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				丽人
			</div>

			<div class="col-3 text-center">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="row">
			<div class="sub-cat swiper-container">
				<ul class="swiper-wrapper">
		            <li class="sub-cat-item swiper-slide active">
	               		<a href="#/">星级酒店</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/">快捷酒店</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/">公寓式酒店</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/">旅店</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/">农家院</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/">其他</a>
		              </li>
	        	</ul>
			</div>
		</div>
		
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/shengdebao.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">速8酒店(大兴黄村店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市大兴区黄村红楼西巷甲20号(近黄村火车站)</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-69251166</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/seventianliansuo.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">7天酒店北京天坛东门地铁站店) <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市体育馆路10号</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-67120088</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/gelinhaotai.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">格林豪泰酒店(新华联店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市通州区通朝大街111号</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-61581996</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/guohanzhuti.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">国汉主题酒店国展店<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市朝阳区柳芳北里甲12号</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-64618777</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/sueightjiudian.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">北京圣德堡酒店（天坛东门地铁站店）<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市东城区天坛东路72号(近黄村火车站)</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-67169988</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		
		<div class="shop-item">
			<a href="http://zd.super8.com.cn/?bd_wd=%E9%80%9F8%E9%85%92%E5%BA%97&bd_source_light=3797357">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/yuhaixingguang.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">御海星光太空舱酒店<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市丰台区宋家庄政馨园三区5.6号楼底商二层</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-87687321</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center ">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>