<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				美食
			</div>

			<div class="col-3 text-center">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="row">
			<div class="sub-cat swiper-container">
				<ul class="swiper-wrapper">
		            <li class="sub-cat-item swiper-slide ">
	               		<a href="#/cat-food">中餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide ">
		               <a href="#/cat-food-cct">西餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide ">
		               <a href="#/cat-food-rbc">日本菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide active">
		               <a href="#/cat-food-hgc">韩国菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-dnyc">东南亚菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-zzc">自助餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-kc">快餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-xc">小吃</a>
		              </li>
		              <li class="sub-cat-item swiper-slide active">
		               <a href="#/cat-food-dgtd">蛋糕甜点</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-sk">烧烤</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-qt">其他</a>
		              </li>
	        	</ul>
			</div>
		</div>
		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col- text-center">
						<img width="130" height="100" src="static/images/shop/fushanliaoli.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">fushanliaoli.jpg<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市朝阳区朝阳北路101号朝阳大悦城7楼</p>
						<p class="phone"><i class="icon-phone3"></i>010-85914019</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：-</p>
						<p class="level">
							<code>4.3</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		
		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center ">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>