<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				美食
			</div>

			<div class="col-3 text-center">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="row">
			<div class="sub-cat swiper-container">
				<ul class="swiper-wrapper">
		            <li class="sub-cat-item swiper-slide">
	               		<a href="#/cat-food">中餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide active">
		               <a href="#/cat-food-cct">西餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-rbc">日本菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-hgc">韩国菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-dnyc">东南亚菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-zzc">自助餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-kc">快餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-xc">小吃</a>
		              </li>
		              <li class="sub-cat-item swiper-slide active">
		               <a href="#/cat-food-dgtd">蛋糕甜点</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-sk">烧烤</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-qt">其他</a>
		              </li>
	        	</ul>
			</div>
		</div>


		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/yiwendao.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">意吻岛西餐厅 <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市平谷区新开街29-13-1（步行街中段）</p>
						<p class="phone"><i class="icon-phone3"></i>010-89991172</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥40</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/bishengke.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">必胜客(枫蓝国际店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市西城区西直门北大街32号枫蓝国际购物中心A座1楼(文慧桥东北侧)</p>
						<p class="phone"><i class="icon-phone3"></i>010-82212956</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥70</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/shangkongjian.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">尚空间俄式厨房(航天橋) <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市海淀区阜成路23号10号楼北数第五间1-2层(阜成路北三街15号6户近工商大学西校区东门)</p>
						<p class="phone"><i class="icon-phone3"></i>010-68986398</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥79</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>


		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/babeila.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">巴贝拉(大兴火神庙店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市大兴区黄村东大街火神庙购物中心F座6楼</p>
						<p class="phone"><i class="icon-phone3"></i>010-81290129</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥55</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center ">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>