<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				美食
			</div>

			<div class="col-3 text-center">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="row">
			<div class="sub-cat swiper-container">
				<ul class="swiper-wrapper">
		            <li class="sub-cat-item swiper-slide active">
	               		<a href="#/cat-food-zct">中餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-xct">西餐厅</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-rbc">日本菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-hgc">韩国菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-dnyc">东南亚菜</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-zzc">自助餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-kc">快餐</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-xc">小吃</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-dgtd">蛋糕甜点</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-sk">烧烤</a>
		              </li>
		              <li class="sub-cat-item swiper-slide">
		               <a href="#/cat-food-qt">其他</a>
		              </li>
	        	</ul>
			</div>
		</div>
		<div class="shop-item">
			<a href="http://cater.haidilao.com/Cater/wap/index.action?backtype=baidu&bd_info=uQXb79D3jqQOJSMN25ZA56TkiCW2IBmBCX%2FwiFPY6gMcvEaM1afj9r1cJzM9v4lrjsUj%2FM7FC0xhwoVxZIMGk6Q8LaU4sPCyzrpgi%2Bk66E0XbtKOetoq3OgNHHTRStb%2FaIdosTQwgvBOASDoL1y3%2F%2B0jXTmU66fU0iDx4uYoVXU%3D&bd_sign=1da6a0489eaf7bd7cca9b62dc3f0266c&bd_appid=2612630&bd_wd=%E6%B5%B7%E5%BA%95%E6%8D%9E&bd_from_id=zhidahao&bd_ref_id=light_null&bd_channel_id=light_null&bd_sub_page=odp&bd_source_light=2612630">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/haidilao.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">海底捞火锅(牡丹园店) <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市海淀区花园东路2号(牡丹宾馆北)</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-53634196</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥139</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="#/shop-detail-qjn">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/qiaojiangnan.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">俏江南(东方广场) <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市东城区东长安街1号东方广场B1楼BB88号</p>
						<p class="phone"><i class="icon-phone3"></i>电话：010-85186971</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥159</p>
						<p class="level">
							<code>4.4</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/xiaocaobabu.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">香草香草云南原生态火锅(大理店) <code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市海淀区苏州街55号名商大厦二层（地铁苏州街站D口出前行200米）</p>
						<p class="phone"><i class="icon-phone3"></i>010-82621976</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥91</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code>
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/qingniancanting.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">青年餐厅(菜市口店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市西城区广安门内大街临时57号</p>
						<p class="phone"><i class="icon-phone3"></i>010-83172343</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥62</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>


		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/beipinglou.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">北平楼(牡丹园店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>
						地址：北京市海淀区牡丹园西里16号</p>
						<p class="phone"><i class="icon-phone3"></i>010-82082197</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥88</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		
		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/bishengke.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">必胜客(枫蓝国际店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市西城区西直门北大街32号枫蓝国际购物中心A座1楼(文慧桥东北侧)</p>
						<p class="phone"><i class="icon-phone3"></i>010-82212956</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥70</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/qingniancanting.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">青年餐厅(菜市口店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>地址：北京市西城区广安门内大街临时57号</p>
						<p class="phone"><i class="icon-phone3"></i>010-83172343</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥62</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="shop-item">
			<a href="#/shop-detail">
				<div class="row">
					<div class="col-5 text-center">
						<img width="130" height="100" src="static/images/shop/other/beipinglou.jpg"/>
					</div>
					<div class="col-7">
						<p class="name">北平楼(牡丹园店)<code>精选</code></p>
						<p class="address"><i class="icon-location2"></i>
						地址：北京市海淀区牡丹园西里16号</p>
						<p class="phone"><i class="icon-phone3"></i>010-82082197</p>
						<p class="price"><i class="icon-coin-yen"></i>人均：¥88</p>
						<p class="level">
							<code>4.7</code>
							<code>好评(217)</code> 
							<code>中评(24)</code>
							<code>差评(15)</code>
						</p>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center ">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>