<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				全部分类
			</div>

			<div class="col-3">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-spoon-knife"></i>美食
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<a href="#/cat-food"><div class="card">全部</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">中餐厅</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">西餐厅</div></a>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="#/cat-food"><div class="card">日本菜</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">韩国菜</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">东南亚菜</div></a>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="#/cat-food"><div class="card">自助餐</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">快餐</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">小吃</div></a>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="#/cat-food"><div class="card">蛋糕甜点</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">烧烤</div></a>
					</div>
					<div class="col-4">
						<a href="#/cat-food"><div class="card">其他</div></a>
					</div>
				</div>
			</div>
		</div>


		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-face-unlock"></i>丽人
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<a href="#/beauty"><div class="card">美容</div></a>
					</div>
					<div class="col-4">
						<a href="#/beauty"><div class="card">美发</div></a>
					</div>
					<div class="col-4">
						<a href="#/beauty"><div class="card">瘦身纤体</div></a>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="#/beauty"><div class="card">美甲</div></a>
					</div>
					<div class="col-4">
						<a href="#/beauty"><div class="card">其他</div></a>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-office"></i>酒店
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<a href="#/hotel"><div class="card">星级酒店</div></a>
					</div>
					<div class="col-4">
						<a href="#/hotel"><div class="card">快捷酒店</div></a>
					</div>
					<div class="col-4">
						<a href="#/hotel"><div class="card">公寓式酒店</div></a>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="#/hotel"><div class="card">旅店</div></a>
					</div>
					<div class="col-4">
						<a href="#/hotel"><div class="card">农家院</div></a>
					</div>
					<div class="col-4">
						<a href="#/hotel"><div class="card">其他</div></a>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-shopping-cart"></i>购物
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">购物中心</div>
					</div>
					<div class="col-4">
						<div class="card">超市/便利店</div>
					</div>
					<div class="col-4">
						<div class="card">家电</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">数码</div>
					</div>
					<div class="col-4">
						<div class="card">家居建材</div>
					</div>
					<div class="col-4">
						<div class="card">家纺</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">书店/音像店</div>
					</div>
					<div class="col-4">
						<div class="card">办公用品</div>
					</div>
					<div class="col-4">
						<div class="card">体育用品</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">户外用品</div>
					</div>
					<div class="col-4">
						<div class="card">服装/鞋帽/箱包</div>
					</div>
					<div class="col-4">
						<div class="card">化妆品</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">母婴用品</div>
					</div>
					<div class="col-4">
						<div class="card">珠宝饰品</div>
					</div>
					<div class="col-4">
						<div class="card">文物古玩</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-drink"></i>休闲娱乐
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">度假村/农家院/采摘园</div>
					</div>
					<div class="col-4">
						<div class="card">文化宫</div>
					</div>
					<div class="col-4">
						<div class="card">电影院</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">音乐厅</div>
					</div>
					<div class="col-4">
						<div class="card">剧院</div>
					</div>
					<div class="col-4">
						<div class="card">KTV</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">夜总会</div>
					</div>
					<div class="col-4">
						<div class="card">商务会馆</div>
					</div>
					<div class="col-4">
						<div class="card">洗浴</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-local-florist"></i>生活服务
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">洗衣店</div>
					</div>
					<div class="col-4">
						<div class="card">照相馆</div>
					</div>
					<div class="col-4">
						<div class="card">房产中介</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">家政服务</div>
					</div>
					<div class="col-4">
						<div class="card">汽车维修</div>
					</div>
					<div class="col-4">
						<div class="card">快递公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">驾校</div>
					</div>
					<div class="col-4">
						<div class="card">鲜花</div>
					</div>
					<div class="col-4">
						<div class="card">租车</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-heart"></i>结婚
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">婚纱摄影</div>
					</div>
					<div class="col-4">
						<div class="card">婚纱礼服</div>
					</div>
					<div class="col-4">
						<div class="card">婚庆服务</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-library"></i>培训机构
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">技能培训</div>
					</div>
					<div class="col-4">
						<div class="card">艺术培训</div>
					</div>
					<div class="col-4">
						<div class="card">语言培训</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">职业培训</div>
					</div>
					<div class="col-4">
						<div class="card">考试培训</div>
					</div>
					<div class="col-4">
						<div class="card">体育培训</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-directions-walk"></i>运动健身
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">体育场馆</div>
					</div>
					<div class="col-4">
						<div class="card">健身房</div>
					</div>
					<div class="col-4">
						<div class="card">游泳馆</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">瑜伽</div>
					</div>
					<div class="col-4">
						<div class="card">舞蹈</div>
					</div>
					<div class="col-4">
						<div class="card">舍宾</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">垂钓</div>
					</div>
					<div class="col-4">
						<div class="card">极限运动</div>
					</div>
					<div class="col-4">
						<div class="card">舍宾</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">卡丁车</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-local-taxi"></i>汽车服务
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">汽车销售</div>
					</div>
					<div class="col-4">
						<div class="card">汽车美容</div>
					</div>
					<div class="col-4">
						<div class="card">洗车</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-credit-card3"></i>金融
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">银行</div>
					</div>
					<div class="col-4">
						<div class="card">保险公司</div>
					</div>
					<div class="col-4">
						<div class="card">证券公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">典当行</div>
					</div>
					<div class="col-4">
						<div class="card">信托公司</div>
					</div>
					<div class="col-4">
						<div class="card">投资公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">担保公司</div>
					</div>
					<div class="col-4">
						<div class="card">证券交易市场</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-graduation-cap"></i>教育
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">成人教育</div>
					</div>
					<div class="col-4">
						<div class="card">图书馆</div>
					</div>
					<div class="col-4">
						<div class="card">留学中介</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">亲子教育</div>
					</div>
					<div class="col-4">
						<div class="card">科研机构</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-nature"></i>旅游景点
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">游乐园</div>
					</div>
					<div class="col-4">
						<div class="card">海底世界</div>
					</div>
					<div class="col-4">
						<div class="card">博物馆</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">美术馆</div>
					</div>
					<div class="col-4">
						<div class="card">科技馆</div>
					</div>
					<div class="col-4">
						<div class="card">名胜古迹</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">海滨浴场</div>
					</div>
					<div class="col-4">
						<div class="card">自然风景区</div>
					</div>
					<div class="col-4">
						<div class="card">旅游度假区</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-hotel"></i>医疗
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">医院</div>
					</div>
					<div class="col-4">
						<div class="card">诊所</div>
					</div>
					<div class="col-4">
						<div class="card">门诊部</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">急救中心</div>
					</div>
					<div class="col-4">
						<div class="card">疗养院</div>
					</div>
					<div class="col-4">
						<div class="card">防疫站</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">保健院</div>
					</div>
					<div class="col-4">
						<div class="card">康复中心</div>
					</div>
					<div class="col-4">
						<div class="card">体检中心</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">药店</div>
					</div>
					<div class="col-4">
						<div class="card">整形医院</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-store-mall-directory"></i>公司企业
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">IT企业</div>
					</div>
					<div class="col-4">
						<div class="card">传媒公司</div>
					</div>
					<div class="col-4">
						<div class="card">公用事业</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">房地产公司</div>
					</div>
					<div class="col-4">
						<div class="card">物流公司</div>
					</div>
					<div class="col-4">
						<div class="card">事务所</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">出版社</div>
					</div>
					<div class="col-4">
						<div class="card">旅行社</div>
					</div>
					<div class="col-4">
						<div class="card">咨询公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">制造业</div>
					</div>
					<div class="col-4">
						<div class="card">猎头公司</div>
					</div>
					<div class="col-4">
						<div class="card">通讯公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">建筑公司</div>
					</div>
					<div class="col-4">
						<div class="card">装修公司</div>
					</div>
					<div class="col-4">
						<div class="card">经纪公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">殡葬公司</div>
					</div>
					<div class="col-4">
						<div class="card">礼仪公司</div>
					</div>
					<div class="col-4">
						<div class="card">经纪公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">公关公司</div>
					</div>
					<div class="col-4">
						<div class="card">劳务公司</div>
					</div>
					<div class="col-4">
						<div class="card">烟草公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">化工公司</div>
					</div>
					<div class="col-4">
						<div class="card">拍卖公司</div>
					</div>
					<div class="col-4">
						<div class="card">婚庆公司</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">园艺公司</div>
					</div>
					<div class="col-4">
						<div class="card">人才市场</div>
					</div>
					<div class="col-4">
						<div class="card">工厂</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">矿区</div>
					</div>
					<div class="col-4">
						<div class="card">影视公司</div>
					</div>
					<div class="col-4">
						<div class="card">艺术团</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-awareness-ribbon"></i>慈善福利机构
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">法院</div>
					</div>
					<div class="col-4">
						<div class="card">检察院</div>
					</div>
					<div class="col-4">
						<div class="card">政府</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">村名委员会</div>
					</div>
					<div class="col-4">
						<div class="card">居民委员会</div>
					</div>
					<div class="col-4">
						<div class="card">公证处</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">机关单位</div>
					</div>
					<div class="col-4">
						<div class="card">涉外单位</div>
					</div>
					<div class="col-4">
						<div class="card">福利机构</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">慈善机构</div>
					</div>
				</div>
			</div>
		</div>
		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>