<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				全部分类
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body catalog">

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-spoon-knife"></i>美食
			</div>
			<div class="body">
				<div class="row">
					<div class="col-4">
						<div class="card">全部</div>
					</div>
					<div class="col-4">
						<div class="card">中餐厅</div>
					</div>
					<div class="col-4">
						<div class="card">西餐厅</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">日本菜</div>
					</div>
					<div class="col-4">
						<div class="card">韩国菜</div>
					</div>
					<div class="col-4">
						<div class="card">东南亚菜</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">自助餐</div>
					</div>
					<div class="col-4">
						<div class="card">快餐</div>
					</div>
					<div class="col-4">
						<div class="card">小吃</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">蛋糕甜点</div>
					</div>
					<div class="col-4">
						<div class="card">烧烤</div>
					</div>
					<div class="col-4">
						<div class="card">其他</div>
					</div>
				</div>
			</div>
		</div>


		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-face-unlock"></i>丽人
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-office"></i>酒店
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-shopping-cart"></i>购物
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-drink"></i>休闲娱乐
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-local-florist"></i>生活服务
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-heart"></i>结婚
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-library"></i>培训机构
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-directions-walk"></i>运动健身
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-local-taxi"></i>汽车服务
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-credit-card3"></i>金融
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-graduation-cap"></i>教育
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-nature"></i>旅游景点
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-hotel"></i>医疗
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-store-mall-directory"></i>公司企业
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-awareness-ribbon"></i>慈善福利机构
			</div>
			<div class="body">
			</div>
		</div>

		<div class="panel">
			<div class="head mt-5 mb-5">
				<i class="icon-more-horiz"></i>其他
			</div>
			<div class="body">
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我的</a>
			</div>
		</div>
	</div>

</div>