<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/order-choose"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				度娘火锅
			</div>

			<div class="col-2">
				<i></i>
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body p-5 chat-box">
				
				<div class="row">
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo4.png"/>
					</div>
					<div class="col-8">
						<div class="left-msg">
							<p>度娘火锅</p>
							<p class="desp">
							请问有什么可以帮您的？
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>

				<div class="row chat-list">
				</div>

			</div>
		</div>

	</div>

	<div class="app-foot chat-input">
		<div class="row">
			<div class="col-1 text-center">
			</div>
			<div class="col-9">
				<div id="editor" contenteditable="true"></div>
			</div>
			<div class="col-1 text-center btn-emo">
				<i class="icon-happy"></i>
			</div>
			<div class="col-1 text-center btn-plus">
				<i class="icon-circle-with-plus"></i>
			</div>
		</div>
		<div class="emotion-panel swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/1.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/2.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/3.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/4.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/5.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/6.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/7.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/8.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/9.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/10.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/11.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/12.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/13.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/14.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/15.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/16.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/17.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/18.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/19.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/20.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/21.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/22.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/23.gif"/>
				</div>
				<div class="swiper-slide emo-item">
					<img width="64" height="64" src="/static/images/emotion/24.gif"/>
				</div>
			</div>
			<div></div>
		</div>
	</div>

</div>