<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				度娘火锅
			</div>

			<div class="col-2">
				<i></i>
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body p-5 chat-box">
				
				<div class="row">
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo4.png"/>
					</div>
					<div class="col-8">
						<div class="left-msg">
							<p>度娘火锅</p>
							<p class="desp">
							请问有什么可以帮您的？
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>

				<div class="row chat-list">
				</div>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-1 text-center">
			</div>
			<div class="col-9">
				<div id="editor" contenteditable="true"></div>
			</div>
			<div class="col-1 text-center">
				<i class="icon-happy"></i>
			</div>
			<div class="col-1 text-center">
				<i class="icon-circle-with-plus"></i>
			</div>
		</div>
	</div>

</div>