<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				意见反馈
			</div>

			<div class="col-3 text-center">
				<i class="icon-check2"></i>
			</div>
		</div>
	</div>

	<div class="app-body feedback">

		<div class="feedback-title">
			<div class="col-11 title">
				欢迎您提出宝贵的意见和建议，您留下的每个字都将用来改善我们的软件和服务
			</div>
		</div>


		<div class="col-11">
			<textarea class="col-11 feedback-textarea" placeholder="请在这里留下您的意见和建议"></textarea>
		</div>
		<div class="col-11 center">
			<div class="col-4"></div>
			<button id="orderOk" class="btn-primary">确定</button>

		</div>


	</div>


	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>