<div class="app-box index">
	

	<div class="app-body">

		<div class="index-head">

			<div class="swiper-container banner-slide">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner1.jpg"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner2.jpg"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner3.jpg"></a>
		            </div>
		        </div>
		    </div>


			<div class="avatar">
				<a href="#/mine"><img width="40" height="40" src="static/images/avatar.jpg"/></a>
			</div>
			<div class="menu">
			</div>
			<div class="search-box">
				<input type="text"/>
				<div class="at">@</div>

			</div>
			<div class="nearby-zdh"></div>
			
		</div>

		<div class="panel index-nearby">
			<div class="head mt-5 mb-5">
				附近直达 <a href="#/nearby" class="switch-btn"><span>地图模式</span></a>
			</div>
			<div class="body swiper-container nearby-slide">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="width:360px">
						<div class="col-4">
							<div class="card">
	                            <a href="http://m.hlgpszz.etaoshi.com/light?bd_framework=1&bd_vip=1&bd_wd=北京好伦哥自助餐厅&bd_source_light=5429483&bd_source_light=5429483">
								<img src="static/images/nearby/1.jpg"/>
	                        	</a>
							</div>
						</div>
						
						<div class="col-4">
							<div class="card">
	                            <a href="http://m.koolearn.com/?bd_framework=1&bd_vip=1&bd_wd=新东方在线&bd_from_id=zhidahao&bd_ref_id=light_null&bd_channel_id=light_null&bd_sub_page=sug&bd_source_light=3540006&bd_from_id=channel&bd_ref_id=share&bd_channel_id=share&bd_sub_page=light_null&bd_source_light=3540006">
								<img src="static/images/shop/7tian.jpg"/>
	                            </a>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
	                            <a href="http://m.koolearn.com/?bd_framework=1&bd_vip=1&bd_wd=新东方在线&bd_from_id=zhidahao&bd_ref_id=light_null&bd_channel_id=light_null&bd_sub_page=sug&bd_source_light=3540006&bd_from_id=channel&bd_ref_id=share&bd_channel_id=share&bd_sub_page=light_null&bd_source_light=3540006">
								<img src="static/images/nearby/4.jpg"/>
	                            </a>
							</div>
						</div>
						
					</div>
					<div class="swiper-slide" style="width:360px">
						
						<div class="col-4">
							<div class="card">
	                            <a href="http://m.koolearn.com/?bd_framework=1&bd_vip=1&bd_wd=新东方在线&bd_from_id=zhidahao&bd_ref_id=light_null&bd_channel_id=light_null&bd_sub_page=sug&bd_source_light=3540006&bd_from_id=channel&bd_ref_id=share&bd_channel_id=share&bd_sub_page=light_null&bd_source_light=3540006">
								<img src="static/images/shop/xiangshuiwan.jpg"/>
	                            </a>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
	                            <a href="http://m.focus.cn/jn/loupan/151019/?channelId=307&bd_framework=1&bd_vip=1&bd_wd=大众传媒大厦&bd_source_light=5242757&bd_source_light=5242757">
								<img src="static/images/nearby/2.jpg"/>
	                            </a>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
	                            <a href="http://guilin.yoloke.com/?bd_framework=1&bd_vip=1&bd_wd=桂林旅游&bd_from_id=zhidahao&bd_ref_id=light_null&bd_channel_id=light_null&bd_sub_page=sug&bd_source_light=4369243&bd_from_id=channel&bd_ref_id=share&bd_channel_id=share&bd_sub_page=light_null&bd_source_light=4369243">
								<img width="93" height="100" src="static/images/nearby/3.jpg"/>
	                            </a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<div class="panel index-excellent">
			<div class="head">
				精选直达
			</div>
			<div class="body">
				<div class="row">
					<div class="col-6">
                        <div class="card h-200">
                            <a href="http://zdh.hotcro.net/zzy?bd_ts=8998280&bd_framework=1&bd_vip=1&bd_wd=猪状元&bd_source_light=4819100&bd_source_light=4819100">
                                <img width="190" height="210" src="static/images/excellent/1.jpg"/>
                            </a>
                        </div>
					</div>
					<div class="col-6">
                        <div class="card">
                            <a href="http://www.weiyingshengshi.com/index.php?g=wap&m=Index&a=index&token=baozhoudao&bd_ts=8142381&bd_framework=1&bd_vip=1&bd_wd=煲粥道&bd_source_light=3784616&bd_source_light=3784616">
                                <img width="200" height="100" src="static/images/excellent/2.jpg"/>
                            </a>
                        </div>
                        <div class="card mt-10">
                            <a href="http://weikelai.yeahsite.com/?bd_ts=8525505&bd_framework=1&bd_vip=1&bd_wd=微客来&bd_source_light=4813883&bd_source_light=4813883">
                                <img width="200" height="100" src="static/images/excellent/3.jpg"/>
                            </a>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head">
				热门分类
			</div>
			<div class="body hot-catalog">
				<div class="row">
					<div class="col-3">
						<div class="card">
						<a href="#/cat-food">
							<i class="icon-bowl"></i><br>
							美食
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-movie">
							<i class="icon-video-camera"></i><br>
							电影
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-enjoy">
							<i class="icon-glass2"></i><br>
							休闲娱乐
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-life">
							<i class="icon-home3"></i><br>
							生活服务
						</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-3">
						<div class="card">
						<a href="#/hotel">
							<i class="icon-location-city"></i><br>
							酒店
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-travel">
							<i class="icon-aircraft"></i><br>
							旅游
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/beauty">
							<i class="icon-face-unlock"></i><br>
							丽人
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/catalog">
							<i class="icon-more-horiz"></i><br>
							更多分类
						</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="panel index-special">
			<div class="head">
				特色专题
			</div>
			<div class="body">
				<div class="row">
					<div class="col-12">
                        <div class="card h-200">
                            <a href="#/topic-detail">
                                <img src="static/images/topic/4.jpg"/>
                                <span class="title">说走咱就走</span>
                            </a>
                        </div>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-12">
                        <div class="card h-200">
                            <a href="http://weikelai.yeahsite.com/?bd_ts=8525505&bd_framework=1&bd_vip=1&bd_wd=微客来&bd_source_light=4813883&bd_source_light=4813883">
                                <img src="static/images/topic/5.jpg"/>
                                <span class="title">吃货甲天下</span>
                            </a>
                        </div>
					</div>
				</div>
				
				<div class="row mt-5">
					<div class="col-12">
                            <div class="card h-200">
                                <a href="http://weikelai.yeahsite.com/?bd_ts=8525505&bd_framework=1&bd_vip=1&bd_wd=微客来&bd_source_light=4813883&bd_source_light=4813883">
                                    <img src="static/images/topic/3.jpg"/>
                                    <span class="title">女为悦己容</span>
                                </a>
                            </div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center active">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>