<div class="app-box container index">
	<div class="app-head">

		<div class="swiper-container banner-slide">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
	            	<a href="#/shop-detail"><img src="static/images/banner/1.jpg"></a>
	            </div>
	            <div class="swiper-slide">
	            	<a href="#/shop-detail"><img src="static/images/banner/2.jpg"></a>
	            </div>
	            <div class="swiper-slide">
	            	<a href="#/shop-detail"><img src="static/images/banner/4.jpg"></a>
	            </div>
	            <div class="swiper-slide">
	            	<a href="http://www.baidu.com/"><img src="static/images/banner/5.jpg"></a>
	            </div>
	        </div>
	    </div>


		<div class="avatar">
			<a href="#/mine"><img width="40" height="40" src="static/images/default-avatar.png"/></a>
		</div>
		<div class="menu">
		</div>
		<div class="search-box">
			<input type="text"/>
		</div>
		<div class="nearby-zdh"></div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="head mt-5 mb-5">
				附近直达 <a href="#/nearby" class="switch-btn"><span>地图模式</span></a>
			</div>
			<div class="body">
				<div class="row">
					<div class="col-3">
						<div class="card">
							<img width="150" height="100" src="static/images/nearby/1.jpg"/>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<img width="150" height="100" src="static/images/nearby/2.jpg"/>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<img width="150" height="100" src="static/images/nearby/3.jpg"/>
						</div>
					</div>
					<div class="col-3">
						<div class="card more">
							<img width="150" height="100" src="static/images/nearby/4.jpg"/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head">
				精选直达
			</div>
			<div class="body">
				<div class="row">
					<div class="col-6">
						<div class="card h-200"></div>
					</div>
					<div class="col-6">
						<div class="card"></div>
						<div class="card mt-10"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="head">
				热门分类
			</div>
			<div class="body hot-catalog">
				<div class="row">
					<div class="col-3">
						<div class="card">
						<a href="#/cat-food">
							<i class="icon-bowl"></i><br>
							美食
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-movie">
							<i class="icon-video-camera"></i><br>
							电影
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-enjoy">
							<i class="icon-glass2"></i><br>
							休闲娱乐
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-life">
							<i class="icon-home3"></i><br>
							生活服务
						</a>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-3">
						<div class="card">
						<a href="#/cat-hotel">
							<i class="icon-location-city"></i><br>
							酒店
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-travel">
							<i class="icon-aircraft"></i><br>
							旅游
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/cat-beauty">
							<i class="icon-face-unlock"></i><br>
							丽人
						</a>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
						<a href="#/catalog">
							<i class="icon-more-horiz"></i><br>
							更多分类
						</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="panel">
			<div class="head">
				特色专题
			</div>
			<div class="body">
				<div class="row">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center active">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>