<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/iwant"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				服务设置
			</div>

			<div class="col-3 text-right pr-10">
				<i class="icon-cog2"></i>
			</div>
		</div>
	</div>

	<div class="app-body iwant-setting">

		<div class="panel">
			<div class="body p-5">

				<div id="pan-list" >

					<div class="pan-text-inner">
						<i class="icon-spoon-knife"></i>吃
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-glass2"></i>娱乐
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-ticket2"></i>票
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-face-unlock"></i>美
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-aircraft"></i>出行
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-directions-walk"></i>运动
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-local-florist"></i>家政
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-directions-car"></i>汽车
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>		
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-school"></i>培训
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
				
					<div class="pan-text-inner">
						<i class="icon-airplane"></i>快递
						<span class="tool">
							<i class="icon-pencil2"></i>
						</span>
					</div>
	

				</div>


			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>