<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我要
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body iwant">

		<div class="panel">
			<div class="body p-5">
				<div class="me"></div>


				<div id="pan-wrap" >
					<div id="pan">
						<button class="metal radial"></button>
						<div class="pan-text">
							<div id="pan-text1">
								<div class="pan-text-inner">
									<i class="icon-spoon-knife"></i>吃
								</div>
							</div>
							<div id="pan-text2">
								<div class="pan-text-inner">
									<i class="icon-glass2"></i>玩
								</div>
							</div>
							<div id="pan-text3">
								<div class="pan-text-inner">
									<i class="icon-face-unlock"></i>美
								</div>
							</div>
							<div id="pan-text4">
								<div class="pan-text-inner">
									<i class="icon-ticket2"></i>票
								</div>
							</div>
							<div id="pan-text5">
								<div class="pan-text-inner">
									<i class="icon-aircraft"></i>出行
								</div>
							</div>
							<div id="pan-text6">
								<div class="pan-text-inner">
									<i class="icon-directions-walk"></i>运动
								</div>
							</div>
							<div id="pan-text7">
								<div class="pan-text-inner">
									<i class="icon-local-florist"></i>家政
								</div>
							</div>
							<div id="pan-text8">
								<div class="pan-text-inner">
									<i class="icon-directions-car"></i>汽车		
								</div>
							</div>
							<div id="pan-text9">
								<div class="pan-text-inner">
									<i class="icon-school"></i>培训
								</div>
							</div>
							<div id="pan-text10">
								<div class="pan-text-inner">
									<i class="icon-airplane"></i>快递
								</div>
							</div>
							
						</div>
					</div>
					<button class="metal linear"></button>


					<div id="pan-list-back" >
					</div>

					<img class="pin-top" width="17" height="17" src="/static/images/pin.png"/>
					<img class="pin-bottom" width="17" height="17" src="/static/images/pin.png"/>

					<div id="pan-list" class="swiper-container">
						
					</div>

				</div>

				<div id="order-view">
				</div>


			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>