<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我要
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body iwant">

		<div class="panel">
			<div class="body mt-5">
				<div class="me"></div>
				
				<button class="metal radial"></button>

				<button class="metal linear">2</button>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<input></input>
		</div>
	</div>

</div>