<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我要
			</div>

			<div class="col-2 text-center">
				<i class="icon-mail"></i>
			</div>
		</div>
	</div>

	<div class="app-body mine">

		<div class="row top">
			<div class="col-3 text-center">
				<img class="avatar mt-10" width="100" height="100" src="/static/images/avatar.jpg"/>
			</div>
			<div class="col-7 pt-40">
				<p class="name">灵犀<code><i class="icon-shield"></i>黄金会员</code></p>
				<p class="account">账户余额: 0</p>
			</div>
			<div class="col-2 more text-center">
				<i class="icon-chevron-thin-right"></i>
			</div>
		</div>

		<div class="row order mt-10">
			<div class="col-3 p-5 text-center">
				<a href="#/wait-order">
				<i class="icon-clipboard2"></i><br>
				待确认
				</a>
			</div>
			<div class="col-3 p-5 text-center">
				<a href="#/unpay-order">
				<i class="icon-wallet"></i><br>
				待支付
				</a>
			</div>
			<div class="col-3 p-5 text-center">
				<a href="#/running-order">
				<i class="icon-truck"></i><br>
				进行中
				</a>
			</div>
			<div class="col-3 p-5 text-center">
				<a href="#/remark-order">
				<i class="icon-local-florist"></i><br>
				待评价
				</a>
			</div>
		</div>
		<div class="row row-item">
			<a href="#/all-order">
			<div class="col-1 text-center">
				<i class="icon-my-library-books"></i>
			</div>
			<div class="col-10">
				全部订单
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>

		<div class="row mt-10 row-item">
			<a href="#/customer">
			<div class="col-1 text-center">
				<i class="icon-shield2"></i>
			</div>
			<div class="col-10">
				我的特权
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>
		<div class="row row-item">
			<a href="#/myzd">
			<div class="col-1 text-center">
				<i class="icon-ticket2"></i>
			</div>
			<div class="col-10">
				我的卡券包
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>
		<div class="row row-item">
			<a href="#/myzd">
			<div class="col-1 text-center">
				<i class="icon-search"></i>
			</div>
			<div class="col-10">
				我的直达
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>

		<div class="row mt-10 row-item">
			<a href="#/setting">
			<div class="col-1 text-center">
				<i class="icon-edit"></i>
			</div>
			<div class="col-10">
				设置
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>
		<div class="row mt-10 row-item">
			<a href="#/feedback">
			<div class="col-1 text-center">
				<i class="icon-edit"></i>
			</div>
			<div class="col-10">
				意见反馈
			</div>
			<div class="col-1 more">
				<i class="icon-chevron-thin-right"></i>
			</div>
			</a>
		</div>

		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-user"></i>我的</a>
			</div>
		</div>
	</div>

</div>