<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				附近直达
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body nearby catalog">

		<div class="panel">
			<div class="body mt-5">
				<div id="mapContainer">
				</div>

				<div class="row">
					<div class="sub-cat swiper-container">
						<ul class="swiper-wrapper">
							<li class="sub-cat-item swiper-slide active">
				            	<a>全部</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-bowl"></i>美食</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-video-camera"></i>电影</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-glass2"></i>休闲娱乐</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-home3"></i>生活服务</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-location-city"></i>酒店</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-aircraft"></i>旅游</a>
				            </li>
				            <li class="sub-cat-item swiper-slide">
				            	<a><i class="icon-face-unlock"></i>丽人</a>
				            </li>
			        	</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="body">

				<div class="shop-item">
					<a href="#/shop-detail-ghlp">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/gouhunliangpi.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">勾魂凉皮</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区海淀区上地十街1号院6楼220室</p>
								<p class="phone"><i class="icon-phone3"></i>010－53691578</p>
								<p class="price"><i class="icon-coin-yen"></i>人均：¥19.9</p>
								<p class="level">
									<code><0.5km</code>
									<code>4.7</code>
									<code>好评(21)</code>
									<code>中评(4)</code>
									<code>差评(2)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/wendingshuiye.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">文鼎水业怡宝水站</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区中关村35号楼平房</p>
								<p class="phone"><i class="icon-phone3"></i>010－62633089</p>
								<p class="level">
									<code><7.9km</code>
									<code>4.7</code>
									<code>好评(18)</code>
									<code>中评(3)</code>
									<code>差评(0)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/ruitaikouqiang.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">瑞泰口腔医院(上地店)</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区上地十街1号院6号楼2层206</p>
								<p class="phone"><i class="icon-phone3"></i>4006980079</p>
								<p class="level">
									<code><1.6km</code>
									<code>暂无</code>
									<code>好评(0)</code>
									<code>中评(0)</code>
									<code>差评(0)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/7tian.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">7天连锁酒店</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区上地六街28号</p>
								<p class="phone"><i class="icon-phone3"></i>010－82783388</p>
								<p class="level">
									<code><1.4km</code>
									<code>4.5</code>
									<code>好评(1693)</code>
									<code>中评(132)</code>
									<code>差评(46)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/wanmeifengbao.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">完美风暴量贩式KTV</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区上地六街西侧</p>
								<p class="phone"><i class="icon-phone3"></i>010-52290018</p>
								<p class="level">
									<code><1.4km</code>
									<code>3.6</code>
									<code>好评(43)</code>
									<code>中评(30)</code>
									<code>差评(32)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/youmizaoxing.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">佑米造型</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区上地佳园23号楼3层315室</p>
								<p class="phone"><i class="icon-phone3"></i>13120441177</p>
								<p class="level">
									<code><1.8km</code>
									<code>4.6</code>
									<code>好评(4249)</code>
									<code>中评(58)</code>
									<code>差评(13)</code>
								</p>
							</div>
						</div>
					</a>
				</div>


				<div class="shop-item">
					<a href="#/shop-detail">
						<div class="row">
							<div class="col-3 text-center">
								<img width="130" height="100" src="/static/images/shop/xiangshuiwan.jpg"/>
							</div>
							<div class="col-9">
								<p class="name">香水湾休闲商务会馆</p>
								<p class="address"><i class="icon-location2"></i>地址：北京市海淀区马连洼北路8号（上地环岛西500米）</p>
								<p class="phone"><i class="icon-phone3"></i>010-59451888</p>
								<p class="level">
									<code><2.6km</code>
									<code>4.3</code>
									<code>好评(41)</code>
									<code>中评(19)</code>
									<code>差评(8)</code>
								</p>
							</div>
						</div>
					</a>
				</div>

						
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center active">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>