<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				附近直达
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body mt-5">
				<div id="mapContainer">
				</div>

				<div class="map-tool-bar">
					<a><i class="icon-grid"></i></a>
					<a><i class="icon-menu"></i></a>
				</div>
			</div>
		</div>

		<div class="panel">
			<div class="body">
				<div class="row mt-5">
					<div class="col-12">
						<div class="card">
							<div class="row">
								<div class="col-4">
									<img width="165" height="100" src="static/images/nearby/list/1.jpg"/>
								</div>
								<div class="col-2">
									<p>< 0.5Km</p>
									<p>19.5</p>
								</div>
								<div class="col-6">
									<p>舌尖上的宜宾</p>
									<p>北京市海淀区西二旗辉煌国际B1西区</p>
									<p>18618495555</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="card"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center active">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我的</a>
			</div>
		</div>
	</div>

</div>