<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/iwant"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				订单确认
			</div>

			<div class="col-3 text-center">
				<i class="menu icon-menu2"></i>
				<ul class="top-menu">
					<li>重新匹配商户</li>
					<li>修改订单</li>
					<li>放弃订单</li>
					<hr>
					<li>价格从低到高</li>
					<li>信誉从高到低</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body p-5 chat-box">
				
				<div class="row">
					<div class="col-2 text-center">
						<img class="user-avatar" width="50" height="50" src="static/images/avatar.jpg"/>
					</div>
					<div class="col-8">
						<div class="left-msg">
							<p>我要<code>美发</code></p>
							<p class="desp">
							距离：<code><3km</code>类型：<code>烫发</code>
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>

				<div class="row">
					<div class="col-2"></div>
					<div class="col-8 text-center">
						直达商户回复结果如下，选个你喜欢的
						<hr>
					</div>
					<div class="col-2">
					</div>
				</div>


				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-1" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
							<p class="name">木子造型</p>
							<p class="desp">
							专业资深造型师根据您的脸型气质结合时下流行，为您修剪最适合的发型
							</p>
							<p class="info">
								<code>99元</code>
								<code><2.1km</code>
								<code>3.9分</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo1.png"/>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-2" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
							<p class="name">柯美妮美容美发</p>
							<p class="desp">
							专业美发技术，首席总监亲自操刀，紧跟时尚美发潮流，从头开始华丽变身
							</p>
							<p class="info">
								<code>128元</code>
								<code><2.3km</code>
								<code>4.2分</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo2.png"/>
						</a>
					</div>
				</div>

				

				<div class="row text-center">
					<code>加载更多...</code>
				</div>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>