<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/iwant"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				订单确认
			</div>

			<div class="col-3 text-center">
				<i class="menu icon-menu2"></i>
				<ul class="top-menu">
					<li>重新匹配商户</li>
					<li>修改订单</li>
					<li>放弃订单</li>
					<hr>
					<li>价格从低到高</li>
					<li>信誉从高到低</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body p-5 chat-box">
				
				<div class="row">
					<div class="col-2 text-center">
						<img class="user-avatar" width="50" height="50" src="static/images/avatar.jpg"/>
					</div>
					<div class="col-8">
						<div class="left-msg">
							<p>我要看<code>速度与激情7</code></p>
							<p class="desp">
							距离：<code><1km</code> 人数：<code>2</code>时间：<code>2015-4-12</code>
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>

				<div class="row">
					<div class="col-2"></div>
					<div class="col-8 text-center">
						直达商户回复结果如下，选个你喜欢的
						<hr>
					</div>
					<div class="col-2">
					</div>
				</div>


				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-1" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">美嘉欢乐影城(中关村店)</p>
							<p class="desp">
							2015-4-12 13:00－15:00
							</p>
							<p class="info">
								<code>43.9元</code>
								<code>4.8分</code>
								<code><1.2km</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo1.png"/>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-2" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">星环影城立水桥店</p>
							<p class="desp">
								2015-4-12 13:00－15:00
							</p>
							<p class="info">
								<code>31元</code>
								<code>4.7分</code>
								<code><1.5km</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo2.png"/>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-3" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">海淀剧院</p>
							<p class="desp">
							2015-4-12 13:00－15:00
							</p>
							<p class="info">
								<code>26元</code>
								<code>4.5分</code>
								<code><2.1km</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo3.png"/>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-4" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail-dn">
							<p class="name">星美国际影城(北京回龙观店)</p>
							<p class="desp">
							2015-4-12 13:00－15:00
							</p>
							<p class="info">
								<code>34元</code>
								<code>4.5分</code>
								<code><2.5km</code>
							</p>
							<p class="oper">
								<code>付款</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<a href="#/chat">
						<img class="user-avatar" width="50" height="50" src="static/images/shop/huoguo4.png"/>
						</a>
					</div>
				</div>

				<div class="row text-center">
					<code>加载更多...</code>
				</div>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>