<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				订单确认
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="panel">
			<div class="body p-5 chat-box">
				
				<div class="row">
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/avatar.jpg"/>
					</div>
					<div class="col-8">
						<div class="left-msg">
							<p>我要吃火锅</p>
							<p class="desp">
							距离：<code><1km</code> 人数：<code>2</code>  人均消费：<code>100</code>
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>

				<div class="row">
					<div class="col-2"></div>
					<div class="col-8 text-center">
						直达商户回复结果如下，选一个你喜欢的
						<hr>
					</div>
					<div class="col-2">
					</div>
				</div>


				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-1" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">宽板凳老灶火锅</p>
							<p class="desp">
							价值208元2人餐！重庆特色火锅，香醇美味色泽红润，屡食不厌，余香不绝！口味香醇，满足味蕾，久久回味，屡食不厌，特色重庆美味
							</p>
							<p class="info">
								<code>168元</code>
								<code><1.2km</code>
								<code class="service">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-half2"></i>
								</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo1.png"/>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-2" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">摸错门牛肚火锅</p>
							<p class="desp">
							“摸错门牛肚火锅”是以涮牛肚为主的特色火锅,3亿人知道摸错门！1亿人次吃过摸错门！
							</p>
							<p class="info">
								<code>129元</code>
								<code><1.5km</code>
								<code class="service">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-half2"></i>
								</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo2.png"/>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-3" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">独道牛板筋火锅</p>
							<p class="desp">
							牛板筋火锅，就是满满一锅的牛肉和牛板筋组成的另类火锅，锅里的牛肉煮的很烂，味道浓郁至极，牛板筋更是特别有嚼劲，吃完了板筋和牛肉，涮一些您喜欢的蔬菜，实在美味，菜量又大又便宜
							</p>
							<p class="info">
								<code>99元</code>
								<code><2.1km</code>
								<code class="service">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
								</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo3.png"/>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-4" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">渡娘火锅</p>
							<p class="desp">
							仅售85元，价值100元代金券！无需预约，可叠加使用，提供免费WiFi，节假日通用！
							</p>
							<p class="info">
								<code>118元</code>
								<code><2.5km</code>
								<code class="service">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
								</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo4.png"/>
					</div>
				</div>

				<div class="row">
					<div class="col-2 text-center">
						<!-- <input id="radio-5" type="radio" name="shop"/> -->
					</div>
					<div class="col-8 text-right">
						<div class="right-msg">
						<a href="#/shop-detail">
							<p class="name">陈记火锅</p>
							<p class="desp">
							仅售138元，价值232元双人餐2选1！提供免费WiFi，节假日通用！
							</p>
							<p class="info">
								<code>138元</code>
								<code><2.2km</code>
								<code class="service">
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-full"></i>
									<i class="icon-star-half2"></i>
								</code>
							</p>
						</a>
						</div>
					</div>
					<div class="col-2 text-center">
						<img class="user-avatar" width="60" height="60" src="/static/images/shop/huoguo5.png"/>
					</div>
				</div>

				

				

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我的</a>
			</div>
		</div>
	</div>

</div>