<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/mine"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我的订单
			</div>

			<div class="col-2 text-center">
			</div>
		</div>
	</div>

	<div class="app-body order">

		<div class="row top">
			<div class="col-2 p-5 text-center">
				<a href="#/all-order">
				<i class="icon-clipboard2"></i><br>
				全部
				</a>
			</div>
			<div class="col-2 p-5 text-center ">
				<a href="#/wait-order">
				<i class="icon-clipboard2"></i><br>
				待确认
				</a>
			</div>
			<div class="col-2 p-5 text-center">
				<a href="#/unpay-order">
				<i class="icon-wallet"></i><br>
				待支付
				</a>
			</div>
			<div class="col-2 p-5 text-center active">
				<a href="#/running-order">
				<i class="icon-truck"></i><br>
				进行中
				</a>
			</div>
			<div class="col-2 p-5 text-center">
				<a href="#/remark-order">
				<i class="icon-local-florist"></i><br>
				待评价
				</a>
			</div>
		</div>

		<div class="order-item">
			<a href="#/order-choose">
				<div class="row">
					<div class="col-10 title p-10">
						我要吃火锅
					</div>
					<div class="col-2 p-10">
						已付款
					</div>
				</div>
				<div class="row">
					<div class="col-1 text-center">
						<i class="icon-bowl"></i>
					</div>
					<div class="col-9">
						距离：<code><1km</code> 人数：<code>2</code>  人均消费：<code>100</code>
					</div>
					<div class="col-2 more text-center">
						<i class="icon-chevron-thin-right"></i>
					</div>
				</div>
			</a>
		</div>

		

		

		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>