<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				我要
			</div>

			<div class="col-3">
			</div>
		</div>
	</div>

	<div class="app-body iwant">

		<div class="panel">
			<div class="body p-5">
				
				<div class="wifi">
					<div class="status">正在发送...</div>
					<div class="wifi-symbol">
						<div class="wifi-circle first"></div>
						<div class="wifi-circle second"></div>
						<div class="wifi-circle third"></div>	
						<div class="wifi-circle fourth"></div>
					</div>
					<div class="round"></div>
				</div>


				<div class="send-detail">
					<p class="text-center">
					已为你找到了<code>348</code>家相关商户
					</p>
					<br>
					<br>
					<p class="posting">
						<input class="price" type="range" min="0" max="100" step="1" value="0" readonly="true" />
						<br>
						<br>
						<br>
						<span class="rule"></span>
					</p>

					<p class="text-center">
						已发送<code id="posted">0</code>
					</p>

				</div>

			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center active">
				<a><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>