<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我要
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body">


	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/subscribe">订阅</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog">评价</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant">分享</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine">更多</a>
			</div>
		</div>
	</div>

</div>