<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				俏江南
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="swiper-container banner-slide">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide text-center bg-white">
	            	<br>
	            	<a href="#/shop-detail"><img src="http://developer.baidu.com/static/assets/zhida/index/whychoose_1.png"><br>大流量拉动潜在客户</a>
	            	<br><br>
	            </div>
	            <div class="swiper-slide text-center bg-white">
	            	<br>
	            	<a href="#/shop-detail"><img src="http://developer.baidu.com/static/assets/zhida/index/whychoose_2.png"><br>完整的闭环服务能力</a>
	            	<br><br>
	            </div>
	            <div class="swiper-slide text-center bg-white">
	            	<br>
	            	<a href="#/shop-detail"><img src="http://developer.baidu.com/static/assets/zhida/index/whychoose_3.png"><br>强大的消费数据分析</a>
	            	<br><br>
	            </div>
	            <div class="swiper-slide text-center bg-white">
	            	<br>
	            	<a href="http://www.baidu.com/"><img src="http://developer.baidu.com/static/assets/zhida/index/whychoose_4.png"><br>零门槛免费开通</a>
	            	<br><br>
	            </div>
	        </div>
	    </div>

	    <div class="row mt-10">
			<div class="col-12">
				<div class="card text-center">
					<br><br>
					@俏江南直达号
				</div>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/subscribe">订阅</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog">评价</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant">分享</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine">更多</a>
			</div>
		</div>
	</div>

</div>