<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-3">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-6 text-center">
				商户
			</div>

			<div class="col-3">
			</div>
		</div>
	</div>

	<div class="app-body">

		<div class="row text-center">

			<div class="card m-10"> 
				<br><br>
				商户直达号
			</div>
			<br><br>
			<div class="card m-10"> 
				<br><br>
				<button id="orderOk" class="btn-primary">付款</button>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a href="#/subscribe">订阅</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog">评价</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant">分享</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine">更多</a>
			</div>
		</div>
	</div>

</div>