<div class="app-box container">
	<div class="app-topbar">
		<div class="row">
			<div class="col-2 pl-10">
				<a href="#/index"><i class="icon-chevron-thin-left"></i>返回</a></a>
			</div>

			<div class="col-8 text-center">
				我要
			</div>

			<div class="col-2">
			</div>
		</div>
	</div>

	<div class="app-body">

		

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center">
				<a><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我的</a>
			</div>
		</div>
	</div>

</div>