<div class="app-box index">
	

	<div class="app-body">

		<div class="index-head">

			<div class="swiper-container banner-slide">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner1.jpg"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner2.jpg"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="http://zhida.baidu.com/console#zhida/guide" target="_blank"><img src="static/images/banner/banner3.jpg"></a>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="panel">
			<div class="body">
                            <div class="head">
				周边旅游
                            </div>
				<div class="row">
					<div class="col-6">
                                            <div class="card">
                                                <a href="http://zdh.hotcro.net/zzy?bd_ts=8998280&bd_framework=1&bd_vip=1&bd_wd=猪状元&bd_source_light=4819100&bd_source_light=4819100">
                                                    <img width="190" height="100" src="static/images/topic/101.jpg"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <a href="http://www.weiyingshengshi.com/index.php?g=wap&m=Index&a=index&token=baozhoudao&bd_ts=8142381&bd_framework=1&bd_vip=1&bd_wd=煲粥道&bd_source_light=3784616&bd_source_light=3784616">
                                                    <img width="200" height="100" src="static/images/topic/102.jpg"/>
                                                </a>
                                            </div>
					</div>
                                </div>
                            <div class="head">
				沿海旅游
                            </div>
                                <div class="row">
					<div class="col-6">
                                            <div class="card">
                                                <a href="http://zdh.hotcro.net/zzy?bd_ts=8998280&bd_framework=1&bd_vip=1&bd_wd=猪状元&bd_source_light=4819100&bd_source_light=4819100">
                                                    <img width="190" height="100" src="static/images/topic/103.jpg"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <a href="http://www.weiyingshengshi.com/index.php?g=wap&m=Index&a=index&token=baozhoudao&bd_ts=8142381&bd_framework=1&bd_vip=1&bd_wd=煲粥道&bd_source_light=3784616&bd_source_light=3784616">
                                                    <img width="200" height="100" src="static/images/topic/104.jpg"/>
                                                </a>
                                            </div>
					</div>
                                </div>
                            <div class="head">
				蜜月旅游
                            </div>
                                <div class="row">
					<div class="col-6">
                                            <div class="card">
                                                <a href="http://zdh.hotcro.net/zzy?bd_ts=8998280&bd_framework=1&bd_vip=1&bd_wd=猪状元&bd_source_light=4819100&bd_source_light=4819100">
                                                    <img width="190" height="100" src="static/images/topic/105.jpg"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <a href="http://www.weiyingshengshi.com/index.php?g=wap&m=Index&a=index&token=baozhoudao&bd_ts=8142381&bd_framework=1&bd_vip=1&bd_wd=煲粥道&bd_source_light=3784616&bd_source_light=3784616">
                                                    <img width="200" height="100" src="static/images/topic/106.jpg"/>
                                                </a>
                                            </div>
					</div>
                                </div>
                            <div class="head">
				踏春旅游
                            </div>
                                <div class="row">
					<div class="col-6">
                                            <div class="card">
                                                <a href="http://zdh.hotcro.net/zzy?bd_ts=8998280&bd_framework=1&bd_vip=1&bd_wd=猪状元&bd_source_light=4819100&bd_source_light=4819100">
                                                    <img width="190" height="100" src="static/images/topic/107.jpg"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <a href="http://www.weiyingshengshi.com/index.php?g=wap&m=Index&a=index&token=baozhoudao&bd_ts=8142381&bd_framework=1&bd_vip=1&bd_wd=煲粥道&bd_source_light=3784616&bd_source_light=3784616">
                                                    <img width="200" height="100" src="static/images/topic/108.png"/>
                                                </a>
                                            </div>
					</div>
                                </div>
			</div>
		</div>

	</div>

	<div class="app-foot">
		<div class="row">
			<div class="col-3 text-center active">
				<a href="#/index"><i class="icon-home"></i>首页</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/catalog"><i class="icon-text-document-inverted"></i>分类</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/iwant"><i class="icon-hair-cross"></i>我要</a>
			</div>
			<div class="col-3 text-center">
				<a href="#/mine"><i class="icon-user"></i>我</a>
			</div>
		</div>
	</div>

</div>